.row-header{
    margin: 0px auto ;
    padding-top: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
    background: white;
    color: #000000;
}

.footer{
    background-color: grey;
    color:  black;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron{
    padding-top: 30px;
    padding-bottom: 0px;
    margin: 0px auto;
    background: #ffffff;
    color: #000000;
}

.address{
    font-size: 80%;
    margin: 0px;
    color: #def2f1
}

body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
    background: white;
    color: black;
}

.navbar-dark {
    background: #b4dfe5;
    color: #000000;
}

.tab-content{
    border-left: 1px solid #d2fdff;
    border-right: 1px solid #d2fdff;
    border-bottom: 1px solid #d2fdff;
    padding: 10px;
}

.carousel {
    background: #3aafa9;

}


#carouselButton {
    right: 0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}